@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  --primary: #2463eb;
  --background-light: #ffffff;
  --background-dark: #111621;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-light);
  color: #111318;
}